# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/

# Виртуальное окружение
.venv/
venv/
env/

# Инструменты
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Среда и IDE
.env
.idea/
*.swp
